<table>
  <tr>
    <th> Product Name </th>
    <th> Product Description </th>
    <th> Product Price </th>
  </tr>
  <% @food_items.each do |food_item| %>
    <tr>
      <td>
        <%= food_item.name %>
      </td>
      <td>
        <%= food_item.description %>
      </td>
      <td>
        <%= food_item.price %>
      </td>
      <td class='list_actions'>
        <%= button_to 'Add To Cart', order_products_path(food_item_id: food_item), class: 'button' %></br>
      </td>
    </tr>
  <% end %>
</table>
